.thumbnail__wrapper {
    box-sizing: border-box;
    border-bottom: #eee 1px solid;
    padding: 10px 0;
    display:flex;
    position: relative;
    min-height: 104px;
}

.thumbnail__text {
    width:calc(100% - 180px);
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    float:left;

}

.thumbnail__profilepicture {
    width: 110px;
    text-align: center;
    float: left;
}

.thumbnail__profilepicture > img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
}

.thumbnail__text-friends-name {
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 1.1em;
}

.thumbnail__text-last-message {
    color: grey;
    font-size: 0.9em;
    padding-top:5px;
}

.v-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.set-right {
    position: absolute;
    right: 20px;
}
