.main__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    background-color: black;

}


.discussions-list__wrapper {
    width: 450px;
    float: left;
    height:100%;
    border: 1px solid black;
    background-color: pink;
    box-sizing: border-box;
}

.discussion-content__wrapper {
    box-sizing: border-box;
    width: calc(100% - 450px);
    float:left;
    height: 100%;
    border: 1px solid black;
    background-color: lime;
}