
.discussion-layout__container {
    height:100%;
    overflow: hidden;

}


.discussion-layout__container > *{
    box-sizing: border-box;
}



.discussion-header__container {

    flex: 0 0 80px;
    background-color: #eee;
}


.discussion-preview__container {
    flex: 0 1 132px;
    background-color: #eee;
}


.discussion-screen__container {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden
}




.discussion-action__container {
    flex: 0 1 auto;
    background-color: #eee;
}


.discussion-layout__dropzone {
    position: absolute;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.7);
    width:100%;
    height:100%;
    padding: 40px;
    border: none;
    animation: 0.3s fadein;
}

.discussion-layout__dropzone-content {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 20px;
    border: 4px dashed #fff;
    color: #fff;
    font-size: 32px;
    height:100%;
    

}

@keyframes fadein {
    from {opacity:0}
    to { opacity:1}
}

.discussion-layout__dropzone--accept { 
    border:  dashed 5px rgb(102, 204,102);
    
}










