
.discussion-layout__container {
    height:100%;
    overflow: hidden;

}


.discussion-layout__container > *{
    box-sizing: border-box;
}



.discussion-header__container {

    position: relative;
    width:100%;
    /* height:80px; */
    background-color: #eee;
    /* border-bottom: 2px solid rgb(131, 120, 120); */
}


/**
 * La height est calculée comme toute la hauteur 
 * - la taille des deux autres containers 
 */

.discussion-screen__container {
    position: relative;
    width:100%;
    height:100%;
    /* height:calc( 100% - 172px); */
    overflow-y: auto;
}




.discussion-action__container {
    /* position: absolute;
    bottom:0; */
    position: relative;
    width:100%;
    /* height:92px; */
    background-color: #eee;
}










