
.discussion-layout__container {
    height:100%;
    
}


.discussion-layout__container > *{
    box-sizing: border-box;
    padding: 4px 2px 0px;
}



.discussion-header__container {

    position: relative;
    width:100%;
    height:80px;
    background-color: #eee;
    /* border-bottom: 2px solid rgb(131, 120, 120); */
}


/**
 * La height est calculée comme toute la hauteur 
 * - la taille des deux autres containers 
 */

.discussion-screen__container {
    position: relative;
    width:100%;
    height:calc( 100% - 172px);
    background-color: rgb(206, 178, 178);
    overflow-y: auto;
    overflow-x: hidden;
}




.discussion-action__container {
    position: absolute;
    bottom:0;
    width:100%;
    height:92px;
    background-color: #eee;
}










