.discussions-list__wrapper {    
    flex: 0 0 30%;
    max-width: 420px;
    min-width: 240px;
    height:100%;
    border-bottom: 1px solid #eee;
    background-color: #fff;;
    box-sizing: border-box;
    border-right: 1px solid #d2d0d0;
}

.discussion-content__wrapper {
    position: relative;
    box-sizing: border-box;
    flex: 1 1 auto;
    height: 100%;
    background-color: #d8d1d1;
    min-width: 100px

}

.mainboard__wrapper {
    height: 100%;
    display: flex;
    flex-flow: row nowrap
}