.discussions-list__wrapper {    
    width: 450px;
    float: left;
    height:100%;
    border-bottom: 1px solid #eee;
    background-color: #fff;;
    box-sizing: border-box;
    border-right: 1px solid #d2d0d0;
}

.discussion-content__wrapper {
    position: relative;
    box-sizing: border-box;
    width: calc(100% - 450px);
    float:left;
    height: 100%;
    background-color: #ceb2b2;
}

.mainboard__wrapper {
    height: 100%;
}