.discussions-list__wrapper {    
    flex: 0 0 30%;
    max-width: 420px;
    min-width: 360px;
    height:100%;
    border-bottom: 1px solid #eee;
    background-color: #fff;;
    box-sizing: border-box;
    border-right: 1px solid #d2d0d0;
}

.discussion-content__wrapper {
    position: relative;
    box-sizing: border-box;
    flex: 1 1 auto;
    height: 100%;
    background-color: #d8d1d1;
    min-width: 100px

}

.mainboard__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    height: calc( 100vh - 64px); /* PAS CLAIR le "-64px" est en réalité la hauteur de la navbar entrée dans le component MenuNavbar */ 
    display: flex;
    flex-flow: row nowrap;
    background-color: white;
}
