.action__send-message > input {
    width: 100%;
    height:40px;
    padding: 0 10px;
    box-sizing: border-box;

}


.secondary-actions__wrapper {
    padding: 7px;
    color: grey;
    font-style: italic;
}