

ul {
    padding-left: 0;
}

li.message__row {
    list-style: none;
    margin-bottom: 10px; 
    padding-left: 0;
}

.message__container {
    float: right;
    margin-bottom: 10px;
    clear: both;
    max-width: 80%
}


.message--align-right {
    margin-right: 15px;
    text-align: right;
}

.message--align-left {
    margin-left: 15px;
    text-align: left;
}



/* .message__images-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
} 


.message--align-right .message__images-container {
    flex-direction: row-reverse;
    
}

.message--align-left .message__images-container {
    flex-direction: row;
}*/
