.message__wrapper {
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
    padding: 5px 10px;
    background: rgb(131, 120, 120);
    color: #fff;
} 

.message__wrapper.left {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


.message__wrapper.right {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;    
}


.message__box {
    text-align: justify;
    word-wrap: break-word;
}


.message__images-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
}

.message__image-wrapper {
    width: 100%;
    max-width:100%;
    border-radius: 5px;
    margin: 4px 2px;
}


.message__image {
    max-width: 100%;
    max-height:100%;
    border-radius: 5px;
}