.message__wrapper {
    background: rgb(131, 120, 120);
    border-radius: 15px;
    padding: 5px 10px;
    color: #fff;
    display: inline-block;
} 


.message__box {
    text-align: justify;
    word-wrap: break-word;
}
